*.config
*.ncb
*.suo
*.obj
*.idb
*.pdb
*.map
*.aps
*.user
*.ilk
*.old
*.tmp
*.scc
*.vssscc
*.vspscc
*.exe
*.dll
*.log
*.vpn
*.se2
*.sys
*.res
*.exe.manifest
*.lib
*.exp
*.cache
*.application
*.Cache
*.FileListAbsolute.txt
*.FileList.txt
*.pch
BuildLog.htm
mt.dep
*.exe.embed.manifest
*.exe.intermediate.manifest

*.ocx
*.cab
*.orig
VPNGate.dat
azure_log
client_log
packet_log
packet_log_archive
probe_log
security_log
server_log
setuplog.dat
trash
vpn_debug
VPNGate.db
.data
ssl_log
*.zip
mayaqua.cer
mayaqua.key
*.resources

/src/tmp/**/*

!/src/BuildFiles/**/*

!app.config

!/src/bin/hamcore/**/*
/src/bin/hamcore/driver_installer.exe
/src/bin/hamcore/driver_installer_x64.exe
/src/bin/hamcore/PenCore.dll
/src/bin/hamcore/see.dll
/src/bin/hamcore/see_x64.dll
/src/bin/hamcore/vpncmdsys.exe
/src/bin/hamcore/vpncmdsys_x64.exe
/src/bin/hamcore/vpnsetup_nosign.exe

/src/vpnweb/Win32_Debug
/src/vpnweb/Win32_Release
/src/vpnweb/dlldata.c
/src/vpnweb/vpnweb.h
/src/vpnweb/vpnweb_i.c
/src/vpnweb/vpnweb_p.c
/src/bin/chain_certs
/src/bin/mkvpn_localbridge.txt
/src/bin/mkvpn_pdump.txt
/src/bin/ham
/src/bin/vpnbridge
/src/bin/vpnclient
/src/bin/vpncmd
/src/bin/vpnserver
/src/code
/src/object
/src/bin/mkvpn_debugflag.txt
