#pragma code_page(932)

1 VERSIONINFO
 FILEVERSION $VER_MAJOR$,$VER_MINOR$,0,$VER_BUILD$
 PRODUCTVERSION $VER_MAJOR$,$VER_MINOR$,0,$VER_BUILD$
 FILEFLAGSMASK 0x17L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "NTT-East and IPA Anti-Corona Virus Telework Special Project"
            VALUE "FileDescription", "$PRODUCTNAME$"
            VALUE "FileVersion", "$VER_MAJOR$, $VER_MINOR$, 0, $VER_BUILD$"
            VALUE "InternalName", "$INTERNALNAME$"
            VALUE "LegalCopyright", "Copyright (c) $YEAR$ Information-technology Promotion Agency, Nippon Telegraph and Telephone East Corporation, and all contributors. All rights reserved."
            VALUE "LegalTrademarks", "'NTT' and 'IPA' are trademarks of these entities."
            VALUE "OriginalFilename", "$FILENAME$"
            VALUE "ProductName", "$PRODUCTNAME$"
            VALUE "ProductVersion", "$VER_MAJOR$, $VER_MINOR$, 0, $VER_BUILD$"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
